{% extends "event/event.html" %}
{% load url from future %}

{% block title %}Create Event{% endblock %}

{% block content %}
  <form method="post" class="form-horizontal">
    {% csrf_token %}
    {% include "form.html" %}
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Create Event" />
      <a href="{% url 'event' %}" class="btn">Cancel</a>
    </div>
  </form>
{% endblock %}

{% block javascript %}
  <script>
    $(function() {
      $( "#id_begin_0" ).datepicker({
        altField: "#id_end_0",
      });
      $( "#id_begin_1" ).timepicker({
        altField: "#id_end_1",
      });
      $( "#id_end_0" ).datepicker();
      $( "#id_end_1" ).timepicker();
    });
    id_begin_0.placeholder = "Date";
    id_begin_1.placeholder = "Time";
    id_end_0.placeholder = "Date";
    id_end_1.placeholder = "Time";
  </script>
{% endblock %}
