{% extends "event/event.html" %}

{% block title %}{{ event.name }}{% endblock %}
{% block subtitle %}Event Details{% endblock %}

{% block content %}
  <table class="table table-striped table-bordered table-left">
    <tr>
      <th>Name</th>
      <td>{{ event.name }}</td>
    </tr>
    <tr>
      <th>Begin</th>
      <td>{{ event.begin }}</td>
    </tr>
    <tr>
      <th>End</th>
      <td>{{ event.end }}</td>
    </tr>
    <tr>
      <th>Venue</th>
      <td>{{ event.venue }}</td>
    </tr>
    <tr>
      <th>Audio-Visual</th>
      <td>{% if event.audio_visual %}✔{% endif %}</td>
    </tr>
    <tr>
      <th>Photo</th>
      <td>{% if event.photo %}✔{% endif %}</td>
    </tr>
    <tr>
      <th>Video</th>
      <td>{% if event.video %}✔{% endif %}</td>
    </tr>
  </table>
{% endblock %}
