{% extends "event/event.html" %}
{% load url from future %}

{% block title %}{{ event.name }}{% endblock %}
{% block subtitle %}Event Details{% endblock %}

{% block content %}
  <table class="table table-striped table-bordered table-left">
    <tr>
      <th>Name</th>
      <td>{{ event.name }}</td>
    </tr>
    <tr>
      <th>Begin</th>
      <td>{{ event.begin }}</td>
    </tr>
    <tr>
      <th>End</th>
      <td>{{ event.end }}</td>
    </tr>
    <tr>
      <th>Venue</th>
      <td>{{ event.venue }}</td>
    </tr>
    <tr>
      <th>Audio-Visual</th>
      <td>{% if event.audio_visual %}✔{% endif %}</td>
    </tr>
    <tr>
      <th>Photo</th>
      <td>{% if event.photo %}✔{% endif %}</td>
    </tr>
    <tr>
      <th>Video</th>
      <td>{% if event.video %}✔{% endif %}</td>
    </tr>
    <tr>
      <th>CIP</th>
      <td>{% if event.cip %}✔{% endif %}</td>
    </tr>
    <tr>
      <th>Remarks</th>
      <td>{{ event.remarks }}</td>
    </tr>
  </table>
  {% if user.is_staff %}
    <a href="{% url 'event_update' event.id %}" class="btn btn-info">Update Event</a>
    <a href="{% url 'event_delete' event.id %}" class="btn btn-danger">Delete Event</a>
  {% endif %}
  <h2 class="new-section">Assignments</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Home Phone</th>
        <th>Mobile Phone</th>
        <th>Email</th>
        <th>Type</th>
        <th>Status</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in event.assignment_set.all %}
        <tr onclick="document.location = '{{ assignment.member.get_absolute_url }}';">
          <td>{{ assignment.member.name }}</td>
          <td>{{ assignment.member.home_phone }}</td>
          <td>{{ assignment.member.mobile_phone }}</td>
          <td>{{ assignment.member.user.email }}</td>
          <td>{{ assignment.type }}</td>
          <td>{{ assignment.status }}</td>
          <td>{{ assignment.remarks }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_staff %}
    <a href="{% url 'assignment_create' event.id %}" class="btn btn-primary">Create Assignment</a>
  {% endif %}
{% endblock %}
