{% extends "member/member.html" %}
{% load url from future %}

{% block title %}{{ member.name }}{% endblock %}
{% block subtitle %}Member Details{% endblock %}

{% block content %}
  <table class="table table-striped table-bordered table-left">
    <tr>
      <th>Name</th>
      <td>{{ member.name }}</td>
    </tr>
    <tr>
      <th>Class</th>
      <td>{{ member.class_name }}</td>
    </tr>
    <tr>
      <th>Home Phone</th>
      <td>{{ member.home_phone }}</td>
    </tr>
    <tr>
      <th>Mobile Phone</th>
      <td>{{ member.mobile_phone }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ member.user.email }}</td>
    </tr>
  </table>
{% endblock %}
