{% extends "member/member.html" %}
{% load url from future %}

{% block title %}Members{% endblock %}

{% block content %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Home Phone</th>
        <th>Mobile Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for member in object_list %}
        <tr onclick="document.location = '{{ member.get_absolute_url }}';">
          <td>{{ member.name }}</td>
          <td>{{ member.class_name }}</td>
          <td>{{ member.home_phone }}</td>
          <td>{{ member.mobile_phone }}</td>
          <td>{{ member.user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_staff %}<a href="{% url 'member_create' %}" class="btn btn-primary">Create Member</a>{% endif %}
{% endblock %}
