{% extends "base_content.html" %}
{% load url from future %}

{% block title %}Login{% endblock %}

{% block content %}
  <form method="post" class="form-horizontal">
    {% csrf_token %}
    {% if form.errors %}
      <div class="control-group error">
        <div class="controls">
          <div class="help-block"><p>Your username and password didn't match. Please try again.</p></div>
        </div>
      </div>
    {% endif %}
    {% include "form.html" %}
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Login" />
      <a href="{% url 'django.contrib.auth.views.password_reset' %}" class="btn">Forgot password?</a>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}