{% extends "base_content.html" %}
{% load url from future %}

{% block dashboard_active %} class="active"{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  {% if object_list %}
    <h1 style="line-height: 0px; padding-bottom: 25px;"><small>Activity Stream</small></h1>
    {% for action in object_list %}
      <h4>
        {% if action.action_object_content_type.name == 'member' %}<i class="icon-user" style="vertical-align: -1px;"></i>{% endif %}
        {% if action.action_object_content_type.name == 'event' %}<i class="icon-calendar" style="vertical-align: -1px;"></i>{% endif %}
        {% if action.action_object_content_type.name == 'assignment' %}<i class="icon-briefcase" style="vertical-align: -1px;"></i>{% endif %}
        <a href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a>
        {{ action.verb }}
        <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
        <small>{{ action.timesince }} ago</small>
      </h4>
    {% endfor %}
  {% else %}
    <h1><small>No recorded action in activity stream</small></h1>
  {% endif %}
  {% if pending_assignments %}
    <h1 class="new-section" style="line-height: 0px; padding-bottom: 25px;"><small>Pending Assignments for {{ user.member.name }}</small></h1>
    {% for assignment in pending_assignments %}
      <h4>
        <i class="icon-briefcase" style="vertical-align: -1px;"></i>
        <a href="{{ assignment.get_absolute_url }}">{{ assignment }}</a>
        <small>Pending Approval</small>
      </h4>
    {% endfor %}
  {% else %}
    <h1 class="new-section"><small>You have no assignment pending approval</small></h1>
  {% endif %}
{% endblock %}
